name: Auto Commit

on:
  schedule:
    - cron: "0 0 * * *" # This runs the workflow daily at midnight
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Update content
        run: |
          echo $(date) >> update_log.txt
          git config --global user.name 'lohit50'
          git config --global user.email 'lohit.profiles@gmail.com'
          git add update_log.txt
          git commit -m "Automated commit on $(date)"
          git push
