name: Auto Commit

on:
  schedule:
    - cron: "26 12 * * *" # Runs daily at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Update Content
        run: echo $(date) >> update_log.txt

      - name: Commit Changes
        run: |
          git config --global user.name 'lohit-50'
          git config --global user.email 'lohit.profiles@gmail.com'
          git add update_log.txt
          git commit -m "Automated commit on $(date)"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
